a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.row.m0 {
  margin: 0px;
}

body {
  line-height: 24px;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #777777;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

button:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.p_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footer-area {
  background: #222222;
}
.footer-bottom {
  padding-top: 85px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom .footer-text a {
  color: #fab700;
}

.footer-bottom .footer-social {
  text-align: right;
}

div.contact_wd:nth-child(1) p{padding-bottom:  15px;}

.footer-bottom .footer-social a {
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  margin-left: 6px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: #111111;
  height: 30px;
  width: 30px;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.footer-bottom .footer-social a:hover {
  color: #222222;
  background: #fab700;
}

.row {
  display: flex;
}
.col-lg-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-lg-5 {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 98px;
}
.single-footer-widget .input-group {
    display: block !important;
}
.mc_embed_signup{
    /* btn area */
}
/* .subscribe_form relative{} */
.input-group,
.d-flex,
.flex-row {
    position: relative;
    /* display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    align-items: stretch; */
    width: 100%;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
        align-items: stretch;
    width: 100%;
  }
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .flex-row {
    -ms-flex-direction: row !important;
        flex-direction: row !important;
  }

.instafeed {
  margin-left: -5px;
  margin-right: -5px;

}
.contact_wd a {
  display: block;
  color: #fab700;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.form {
    display: block;
    margin-top: 0em;
}
.subscribe_form {
  padding-top: 25px;
}
.input-group {
  display: block !important;
}

input {
  width: 100%;
  border: 1px solid #333333;
  font-size: 13px;
  line-height: 40px;
  padding-right: 40px;
  height: 40px;
  color: #999999;
  border-radius: 20px;
  background: #fff;
  padding-left: 20px;
  /* @include placeholder{
            color: #999999;
        }
        &:focus{
            outline: none;
        } */
}

input[type="email" i] {
    padding: 1px 2px;
}
/* .sub-btn { */
  /* background: $baseColor; */
  /* color: $dip; */
  /* font-weight: 300;
  line-height: 30px;
  padding: 0px;
  height: 36px;
  width: 36px;
  cursor: pointer;
  position: absolute;
  right: 2px;
  border-radius: 50%;
  top: 2px;
} */
/* } */
.sub-btn {
    font-weight: 300;
    line-height: 30px;
    background-color: #fab700;
    padding: 0px;
    height: 38px;
    width: 38px;
    cursor: pointer;
    position: absolute;
    right: -2px;
    border-radius: 50%;
    top: 3px;
}

.contact_wd {
  margin-right: -15px;
  /* p{
		margin-bottom: 15px;
	}
	a{
		display: block;
		color: $baseColor;
		font-size: 24px;
		font-family: $rob;
		font-weight: 500;
		margin-bottom: 10px;
		& + a{
			margin-bottom: 0px;
		}
	} */
}
.footer_title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 28px;
}
.border_line {
  width: 100%;
  height: 1px;
  background: #333333;
  margin-top: 30px;
}

/* .footer-bottom{
    padding-top: 85px;
    .footer-text{
        a{
            color: $baseColor;
        }
    }
    .footer-social{
        text-align: right;
        a{
            font-size: 14px;
            line-height: 30px;
            color: #fff;
            margin-left: 6px;
            transition: all 0.3s linear;
			background: #111111;
			height: 30px;
			width: 30px;
			text-align: center;
			display: inline-block;
			@include transition;
            &:hover{
                color: $dip;
				background: $baseColor;
            }
        }
    }
} */
.lnr {
  /* display: inline-block; */
  fill: currentColor;
  width: 13px;
  height: 13px;
  font-size: 1rem;
  /* vertical-align: 0.3em; */
}

.lnr-arrow-right {
  color: #777777;
  font-size: 14px;
}
