/* header */

header {
  
  position: fixed;
  width: 100%;
  background-color: white;
  
  z-index: 100;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  align-items: center;
}
#navHome {
  color: #fab700;
}
.mainNav {
  display: flex;
}
.mainNav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  transition-duration: 1s;
  margin-left: 30px;
  line-height: 70px;

}
.mainNav a:hover {
  color: #fab700;
}
