/* header */

header {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
}
#navHome {
  color: #fab700;
}

.mainNav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  transition-duration: 1s;
  margin-left: 30px;
}
.mainNav a:hover {
  color: #fab700;
  /* position: fixed; */
}
